* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "./section/section-1";
@import "./section/section-2";
@import "./section/section-3";
@import "./section/section-4";
@import "./section/section-5";
@import "./section/footer";